<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.businessplan.article.mapper.DiaryMapper">

     <resultMap id="DiaryMap" type="diary">
        <id property="id" column="id"/>
        <result property="date" column="date"/>
        <result property="labels" column="labels"/>
    </resultMap>

     <sql id="base_column">
        di.date,di.labels
     </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="date">
        INSERT INTO diary
        (
            <trim>
                <if test="labels != null ">
                labels
                </if>
            </trim>
        )
        VALUES (
            <trim>
                <if test="labels != null ">
                #{labels}
                </if>
            </trim>
        )
    </insert>

    <update id="delete" >
        UPDATE diary set delflag = #{delflag}
         WHERE id = #{ key })
    </update>

    <update id="update" parameterType="diary">
        UPDATE diary SET 
            <trim>
                <if test="labels != null ">
                labels = #{labels}
                </if>
            </trim>
         WHERE id = #{id}
    </update>

    <select id="getById" resultType="diary" parameterType="diary">
        SELECT 
        <include refid="base_column"/>
        FROM diary di
        WHERE di.id = #{id} AND di.delflag = #{delflag}
    </select>

    <select id="getList" resultType="diary" parameterType="diary">
        SELECT 
        <include refid="base_column"/>
        FROM diary di
        WHERE 
    <trim>
        <if test=" != null ">
        AND di.`date` = #{date}
        </if>
        <if test=" != null ">
        AND di.`labels` = #{labels}
        </if>
    </trim>
    </select>

    <select id="getByStr" resultType="diary" parameterType="diary">
        SELECT 
        <include refid="base_column"/>
        FROM diary di
        WHERE di.`labels` = #{key} AND di.`delflag` = #{delflag,jdbcType=TINYINT}
    </select>

    <select id="getListByStr" resultType="diary" parameterType="diary">
        SELECT 
        <include refid="base_column"/>
        FROM diary di
        WHERE di.`labels` = #{key} AND di.`delflag` = #{delflag,jdbcType=TINYINT}
    </select>

</mapper>