<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.businessplan.article.mapper.DiaryMapper">

     <resultMap id="DiaryMap" type="diary">
        <id property="id" column="id"/>
        <result property="delflag" column="delflag"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
        <result property="modifier" column="modifier"/>
        <result property="modifierTime" column="modifierTime"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="classify" column="classify"/>
        <result property="date" column="date"/>
        <result property="labels" column="labels"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <resultMap id="DiaryWithLabelMap" type="diaryForm" extends="DiaryMap">
        <collection property="labelList" ofType="label">
            <id property="id" column="l_id"/>
            <result property="name" column="l_name"/>
        </collection>
    </resultMap>

     <sql id="base_column">
        di.id,di.delflag,di.creator,di.createTime,di.modifier,di.modifierTime,di.title,di.content,di.classify,di.date,di.labels, di.status
     </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO diary
        (
            <trim suffixOverrides=",">
                <if test="delflag != null ">
                delflag,
                </if>
                <if test="creator != null ">
                creator,
                </if>
                <if test="createTime != null ">
                createTime,
                </if>
                <if test="modifier != null ">
                modifier,
                </if>
                <if test="modifierTime != null ">
                modifierTime,
                </if>
                <if test="title != null ">
                title,
                </if>
                <if test="content != null ">
                content,
                </if>
                <if test="classify != null ">
                classify,
                </if>
                <if test="date != null ">
                date,
                </if>
                <if test="labels != null ">
                labels,
                </if>
                <if test="status != null">
                status
                </if>
            </trim>
        )
        VALUES (
            <trim suffixOverrides=",">
                <if test="delflag != null ">
                #{delflag,jdbcType=TINYINT},
                </if>
                <if test="creator != null ">
                #{creator},
                </if>
                <if test="createTime != null ">
                #{createTime},
                </if>
                <if test="modifier != null ">
                #{modifier},
                </if>
                <if test="modifierTime != null ">
                #{modifierTime},
                </if>
                <if test="title != null ">
                #{title},
                </if>
                <if test="content != null ">
                #{content},
                </if>
                <if test="classify != null ">
                #{classify},
                </if>
                <if test="date != null ">
                #{date},
                </if>
                <if test="labels != null ">
                #{labels},
                </if>
                <if test="status != null">
                #{status}
                </if>
            </trim>
        )
    </insert>

    <update id="delete" >
        UPDATE diary set delflag = #{delflag} , modifier = #{modifier},modifierTime = #{modifierTime}
         WHERE id = #{ id } AND creator = IFNULL(#{creator}, creator)
    </update>

    <update id="update" parameterType="diary">
        UPDATE diary SET 
            <trim>
                <if test="delflag != null ">
                delflag = #{delflag,jdbcType=TINYINT},
                </if>
                <if test="creator != null ">
                creator = #{creator},
                </if>
                <if test="createTime != null ">
                createTime = #{createTime},
                </if>
                <if test="modifier != null ">
                modifier = #{modifier},
                </if>
                <if test="modifierTime != null ">
                modifierTime = #{modifierTime},
                </if>
                <if test="title != null ">
                title = #{title},
                </if>
                <if test="content != null ">
                content = #{content},
                </if>
                <if test="classify != null ">
                classify = #{classify},
                </if>
                <if test="date != null ">
                date = #{date},
                </if>
                <if test="labels != null ">
                labels = #{labels},
                </if>
                <if test="status != null">
                status = #{status}
                </if>
            </trim>
         WHERE id = #{id}
    </update>

    <update id="updateFull" parameterType="diary">
        UPDATE diary SET 
            delflag = #{delflag,jdbcType=TINYINT},
            creator = #{creator},
            createTime = #{createTime},
            modifier = #{modifier},
            modifierTime = #{modifierTime},
            title = #{title},
            content = #{content},
            classify = #{classify},
            date = #{date},
            labels = #{labels},
            status = #{status}
         WHERE id = #{id}
    </update>

    <select id="getById" resultType="diary" parameterType="diary">
        SELECT 
        <include refid="base_column"/>
        FROM diary di
        WHERE di.id = #{id} AND di.delflag = #{delflag}
    </select>

    <select id="getList" resultType="diary" parameterType="diary">
        SELECT 
        <include refid="base_column"/>
        FROM diary di
        WHERE 
    <include refid="listBase" />
    </select>
    
    <select id="getCompleteDiaryById" resultMap="DiaryWithLabelMap" >
    SELECT
         <include refid="base_column"/>, la.id as l_id, la.name as l_name
    FROM diary di
    LEFT JOIN classify cl ON di.classify = cl.id
    LEFT JOIN (
        SELECT id, name FROM label WHERE delflag = #{delflag, jdbcType=TINYINT}
    ) la ON FIND_IN_SET(la.id, di.labels)
    WHERE 
        di.id = #{id}
    AND di.delflag = #{delflag, jdbcType=TINYINT}
    AND (cl.delflag = #{delflag, jdbcType=TINYINT} OR cl.delflag IS NULL)
    </select>
    
    <select id="getListWithLabels" resultMap="DiaryWithLabelMap" parameterType="diaryForm">
    SELECT 
        <include refid="base_column"/>, la.id as l_id, la.name as l_name
        FROM diary di
        LEFT JOIN classify cl ON di.classify = cl.id
        LEFT JOIN label la ON FIND_IN_SET(la.id, di.labels)
        WHERE 
    <include refid="listBase" />
        
    </select>
    
    <sql id="listBase">
    <trim prefixOverrides="AND">
        <if test="id != null">
        AND di.`id` = #{id}
        </if>
        <if test="delflag != null ">
        AND di.`delflag` = #{delflag,jdbcType=TINYINT}
        </if>
        <if test="creator != null ">
        AND di.`creator` = #{creator}
        </if>
        <if test="createTime != null ">
        AND di.`createTime` = #{createTime}
        </if>
        <if test="modifier != null ">
        AND di.`modifier` = #{modifier}
        </if>
        <if test="modifierTime != null ">
        AND di.`modifierTime` = #{modifierTime}
        </if>
        <if test="title != null ">
        AND LOCATE(#{title}, di.`title`) > 0
        </if>
        <if test="content != null ">
        AND di.`content` = #{content}
        </if>
        <if test="classify != null ">
        AND di.`classify` = #{classify}
        </if>
        <if test="date != null ">
        AND di.`date` = #{date}
        </if>
        <if test="labels != null ">
        AND di.`labels` = #{labels}
        </if>
    </trim>
    </sql>

</mapper>