<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.businessplan.article.mapper.NovelMapper">

     <resultMap id="NovelMap" type="novel">
        <id property="id" column="id"/>
        <result property="delflag" column="delflag"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
        <result property="modifier" column="modifier"/>
        <result property="modifierTime" column="modifierTime"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="classify" column="classify"/>
        <result property="cover" column="cover"/>
        <result property="Labels" column="Labels"/>
        <result property="wordsNum" column="wordsNum"/>
    </resultMap>

     <sql id="base_column">
        no.id,no.delflag,no.creator,no.createTime,no.modifier,no.modifierTime,no.title,no.content,no.classify,no.cover,no.Labels,no.wordsNum
     </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO novel
        (
            <trim>
                <if test="delflag != null ">
                delflag,
                </if>
                <if test="creator != null ">
                creator,
                </if>
                <if test="createTime != null ">
                createTime,
                </if>
                <if test="modifier != null ">
                modifier,
                </if>
                <if test="modifierTime != null ">
                modifierTime,
                </if>
                <if test="title != null ">
                title,
                </if>
                <if test="content != null ">
                content,
                </if>
                <if test="classify != null ">
                classify,
                </if>
                <if test="cover != null ">
                cover,
                </if>
                <if test="Labels != null ">
                Labels,
                </if>
                <if test="wordsNum != null ">
                wordsNum
                </if>
            </trim>
        )
        VALUES (
            <trim>
                <if test="delflag != null ">
                #{delflag,jdbcType=TINYINT},
                </if>
                <if test="creator != null ">
                #{creator},
                </if>
                <if test="createTime != null ">
                #{createTime},
                </if>
                <if test="modifier != null ">
                #{modifier},
                </if>
                <if test="modifierTime != null ">
                #{modifierTime},
                </if>
                <if test="title != null ">
                #{title},
                </if>
                <if test="content != null ">
                #{content},
                </if>
                <if test="classify != null ">
                #{classify},
                </if>
                <if test="cover != null ">
                #{cover},
                </if>
                <if test="Labels != null ">
                #{Labels},
                </if>
                <if test="wordsNum != null ">
                #{wordsNum}
                </if>
            </trim>
        )
    </insert>

    <update id="delete" >
        UPDATE novel set delflag = #{delflag} , modifier = #{modifier},modifierTime = {modifierTime}
         WHERE id = #{ id })
    </update>

    <update id="update" parameterType="novel">
        UPDATE novel SET 
            <trim>
                <if test="delflag != null ">
                delflag = #{delflag,jdbcType=TINYINT},
                </if>
                <if test="creator != null ">
                creator = #{creator},
                </if>
                <if test="createTime != null ">
                createTime = #{createTime},
                </if>
                <if test="modifier != null ">
                modifier = #{modifier},
                </if>
                <if test="modifierTime != null ">
                modifierTime = #{modifierTime},
                </if>
                <if test="title != null ">
                title = #{title},
                </if>
                <if test="content != null ">
                content = #{content},
                </if>
                <if test="classify != null ">
                classify = #{classify},
                </if>
                <if test="cover != null ">
                cover = #{cover},
                </if>
                <if test="Labels != null ">
                Labels = #{Labels},
                </if>
                <if test="wordsNum != null ">
                wordsNum = #{wordsNum}
                </if>
            </trim>
         WHERE id = #{id}
    </update>

    <update id="updateFull" parameterType="novel">
        UPDATE novel SET 
            delflag = #{delflag,jdbcType=TINYINT},
            creator = #{creator},
            createTime = #{createTime},
            modifier = #{modifier},
            modifierTime = #{modifierTime},
            title = #{title},
            content = #{content},
            classify = #{classify},
            cover = #{cover},
            Labels = #{Labels},
            wordsNum = #{wordsNum}
         WHERE id = #{id}
    </update>

    <select id="getById" resultType="novel" parameterType="novel">
        SELECT 
        <include refid="base_column"/>
        FROM novel no
        WHERE no.id = #{id} AND no.delflag = #{delflag}
    </select>

    <select id="getList" resultType="novel" parameterType="novel">
        SELECT 
        <include refid="base_column"/>
        FROM novel no
        WHERE 
    <trim>
        <if test=" != null ">
        AND no.`delflag` = #{delflag,jdbcType=TINYINT}
        </if>
        <if test=" != null ">
        AND no.`creator` = #{creator}
        </if>
        <if test=" != null ">
        AND no.`createTime` = #{createTime}
        </if>
        <if test=" != null ">
        AND no.`modifier` = #{modifier}
        </if>
        <if test=" != null ">
        AND no.`modifierTime` = #{modifierTime}
        </if>
        <if test=" != null ">
        AND no.`title` = #{title}
        </if>
        <if test=" != null ">
        AND no.`content` = #{content}
        </if>
        <if test=" != null ">
        AND no.`classify` = #{classify}
        </if>
        <if test=" != null ">
        AND no.`cover` = #{cover}
        </if>
        <if test=" != null ">
        AND no.`Labels` = #{Labels}
        </if>
        <if test=" != null ">
        AND no.`wordsNum` = #{wordsNum}
        </if>
    </trim>
    </select>

</mapper>