<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.businessplan.article.mapper.NovelMapper">

     <resultMap id="NovelMap" type="novel">
        <id property="id" column="id"/>
        <result property="delflag" column="delflag"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
        <result property="modifier" column="modifier"/>
        <result property="modifierTime" column="modifierTime"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="classify" column="classify"/>
        <result property="cover" column="cover"/>
        <result property="wordsNum" column="wordsNum"/>
        <result property="novelState" column="novelState"/>
        <result property="portionsNum" column="portionsNum"/>
        <result property="sectionsNum" column="sectionsNum"/>
        <result property="lastetSectionId" column="lastetSectionId"/>
    </resultMap>
    
    <resultMap id="ExpandMap" type="novelForm" extends="NovelMap">
        <result property="createNikeName" column="nike_name" />
        <result property="classifyName" column="cl_name" />
        <result property="labels" column="labels" />
        <association property="lastetSection" javaType="sectionForm">
            <id property="id" column="se_id"/>
            <result property="title" column="se_title"/>
            <result property="createTime" column="se_createTime"/>
        </association>
        <collection property="labelList" ofType="label">
            <id property="id" column="la_id"/>
            <result property="name" column="la_name"/>
            <result property="delflag" column="la_delflag"/>
        </collection>
    </resultMap>

     <sql id="base_column">
        no.id,no.delflag,no.creator,no.createTime,no.modifier,no.modifierTime,no.title,no.content,no.classify,no.cover,no.wordsNum, no.novelState, no.portionsNum,no.sectionsNum
     </sql>
     
     <sql id="expand_column">
        <include refid="base_column" />, la.id as la_id, la.name as la_name, la.delflag as la_delflag,ad.nikename as nike_name, cl.name as cl_name,se_id,se_title,se_createTime
     </sql>
     
     <sql id="expand_list_column">
        <include refid="base_column" />, ad.nikename as nike_name, cl.id as cl_id, cl.name as cl_name,
        GROUP_CONCAT(la.`name`) as labels,se.id as se_id,se.title as se_title,se.createTime as se_createTime
     </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO novel
        (
            <trim suffixOverrides=",">
                <if test="delflag != null ">
                delflag,
                </if>
                <if test="creator != null ">
                creator,
                </if>
                <if test="createTime != null ">
                createTime,
                </if>
                <if test="modifier != null ">
                modifier,
                </if>
                <if test="modifierTime != null ">
                modifierTime,
                </if>
                <if test="title != null ">
                title,
                </if>
                <if test="content != null ">
                content,
                </if>
                <if test="classify != null ">
                classify,
                </if>
                <if test="cover != null ">
                cover,
                </if>
                <if test="labels != null ">
                labels,
                </if>
            </trim>
        )
        VALUES (
            <trim suffixOverrides=",">
                <if test="delflag != null ">
                #{delflag,jdbcType=TINYINT},
                </if>
                <if test="creator != null ">
                #{creator},
                </if>
                <if test="createTime != null ">
                #{createTime},
                </if>
                <if test="modifier != null ">
                #{modifier},
                </if>
                <if test="modifierTime != null ">
                #{modifierTime},
                </if>
                <if test="title != null ">
                #{title},
                </if>
                <if test="content != null ">
                #{content},
                </if>
                <if test="classify != null ">
                #{classify},
                </if>
                <if test="cover != null ">
                #{cover},
                </if>
                <if test="labels != null ">
                #{labels},
                </if>
            </trim>
        )
    </insert>

    <update id="delete" parameterType="novel">
        UPDATE novel set delflag = #{delflag} , modifier = #{modifier},modifierTime = NOW()
         WHERE id = #{ id } AND creator = #{creator}
    </update>

    <update id="update" parameterType="novel">
        UPDATE novel SET 
            <trim suffixOverrides=",">
                <if test="delflag != null ">
                delflag = #{delflag,jdbcType=TINYINT},
                </if>
                <if test="creator != null ">
                creator = #{creator},
                </if>
                <if test="createTime != null ">
                createTime = #{createTime},
                </if>
                <if test="modifier != null ">
                modifier = #{modifier},
                </if>
                <if test="modifierTime != null ">
                modifierTime = #{modifierTime},
                </if>
                <if test="title != null ">
                title = #{title},
                </if>
                <if test="content != null ">
                content = #{content},
                </if>
                <if test="classify != null ">
                classify = #{classify},
                </if>
                <if test="cover != null ">
                cover = #{cover},
                </if>
                <if test="Labels != null ">
                Labels = #{Labels},
                </if>
                <if test="wordsNum != null ">
                wordsNum = #{wordsNum},
                </if>
                <if test="novelState != null ">
                novelState = #{novelState},
                </if>
                <if test="portionsNum != null ">
                portionsNum = #{portionsNum},
                </if>
                <if test="sectionsNum != null ">
                sectionsNum = #{sectionsNum},
                </if>
            </trim>
         WHERE id = #{id}
    </update>

    <update id="updateFull" parameterType="novel">
        UPDATE novel SET 
            delflag = #{delflag,jdbcType=TINYINT},
            creator = #{creator},
            createTime = #{createTime},
            modifier = #{modifier},
            modifierTime = #{modifierTime},
            title = #{title},
            content = #{content},
            classify = #{classify},
            cover = #{cover},
            Labels = #{Labels},
            wordsNum = #{wordsNum},
            novelState = #{novelState},
            portionsNum = #{portionsNum},
            sectionsNum = #{sectionsNum}
         WHERE id = #{id}
    </update>

    <select id="getById" resultType="novel" parameterType="novel">
        SELECT 
        <include refid="base_column"/>
        FROM novel no
        WHERE no.id = #{id} AND no.delflag = #{delflag}
        <if test="creator != null">
        AND no.creator = IFNULL(#{creator}, no.creator)
        </if>
    </select>
    
    <select id="getComplete" resultMap="ExpandMap" parameterType="novel">
        SELECT 
        <include refid="expand_column"/>
        FROM novel no
        LEFT JOIN label la ON FIND_IN_SET(la.id, no.labels)
        LEFT JOIN classify cl ON no.classify = cl.id
        LEFT JOIN admin ad ON no.creator = ad.id
        LEFT JOIN (SELECT id as se_id, title as se_title, createTime as se_createTime, novelId FROM section WHERE novelId = #{id} ORDER BY createTime desc LIMIT 1) se ON se.novelId = no.id
        WHERE no.id = #{id} AND no.delflag = #{delflag} AND la.delflag = #{delflag}
        <if test="creator != null">
        AND no.creator = IFNULL(#{creator}, no.creator)
        </if>
    </select>

    <select id="getList" resultType="novel" parameterType="novel">
        SELECT 
        <include refid="base_column"/>
        FROM novel no
        WHERE 
    <trim prefixOverrides="AND">
        <if test="delflag != null ">
        AND no.`delflag` = #{delflag,jdbcType=TINYINT}
        </if>
        <if test="creator != null ">
        AND no.`creator` = #{creator}
        </if>
        <if test="title != null ">
        AND no.`title` = #{title}
        </if>
        <if test="classify != null ">
        AND no.`classify` = #{classify}
        </if>
        <if test="novelState != null ">
        AND no.`novelState` = #{novelState}
        </if>
    </trim>
    </select>
    
    <select id="getExpandList" resultMap="ExpandMap" parameterType="novelForm">
        SELECT 
        <include refid="expand_list_column"/>
        FROM novel no
        LEFT JOIN classify cl ON no.classify = cl.id
        LEFT JOIN label la ON no.id = la.targetId AND la.targetType = 4
        LEFT JOIN admin ad ON no.creator = ad.id
        LEFT JOIN section se ON no.lastetSectionId = se.id
        WHERE 
    <trim prefixOverrides="AND">
        <if test="creator != null ">
        AND no.`creator` = #{creator}
        </if>
        <if test="title != null ">
        AND LOCATE(#{title}, no.`title`) > 0
        </if>
        <if test="classify != null ">
        AND no.`classify` = #{classify}
        </if>
        <if test="label != null">
        AND LOCATE(#{label}, no.`labels`) > 0
        </if>
        <if test="startTime != null">
        AND <![CDATA[ UNIX_TIMESTAMP(no.createTime) >= #{startTime}  ]]>
        </if>
        <if test="endTime != null">
        AND <![CDATA[ UNIX_TIMESTAMP(no.createTime) <= #{endTime}  ]]>
        </if>
        <if test="delflag != null ">
        AND no.`delflag` = #{delflag,jdbcType=TINYINT}
        </if>
        <if test="novelState != null ">
        AND no.`novelState` = #{novelState}
        </if>
        <if test="labels != null">
        AND LOCATE(la.`name`, #{labels}) > 0
        </if>
    </trim>
        GROUP BY no.id
        ORDER BY no.createTime desc
    </select>

</mapper>