

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

.hide{
    display: none;
}

.header-item{
    float: left;
    height: 100%;
    line-height: 60px;
 }

.admin-header{
    height: 60px;
    background-color: #409EFF;
}

.admin-header .admin-logo{    
    box-sizing: border-box;
    width: 20%;
    color: rgba(255,255,255,.8);
    font-size: 20px;
}

.admin-header .messagebg{
    width: 50%;
}

.avatar-item{
    width: 30%;
}

.avatar-item ul{
    display: inline;
    float: right;
}

.avatar-item li{
    float: left;
    height: 42px;
    position: relative;
}

.avatar-item li a{
    color: #222;
    height: 100%;
    display: block;
    padding: 0 8px;
}

.avatar-item .d_avatar{
    position: absolute;
    z-index: 20;
    width: 36px;
    height: 36px;
    left: -25px;
    top: 12px;
    transition: .3s;
}

.avatar-item .avatar{
    border: 0 solid #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
