<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.businessplan.admin.mapper.EmployeeMapper">

     <resultMap id="EmployeeMap" type="employee">
        <id property="id" column="id"/>
        <result property="ecode" column="ecode"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="birth" column="birth"/>
        <result property="idCard" column="idCard"/>
        <result property="marriage" column="marriage"/>
        <result property="nation" column="nation"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="qq" column="qq"/>
        <result property="address" column="address"/>
        <result property="qualification" column="qualification"/>
        <result property="school" column="school"/>
        <result property="avatar" column="avatar"/>
        <result property="positionId" column="positionId"/>
        <result property="departmentId" column="departmentId"/>
        <result property="stateId" column="stateId"/>
        <result property="salary" column="salary"/>
        <result property="salaryType" column="salaryType"/>
        <result property="adminId" column="adminId"/>
        <result property="beginTime" column="beginTime"/>
        <result property="endTime" column="endTime"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
        <result property="delflag" column="delflag"/>
    </resultMap>
    
    <resultMap type="employee" id="EmployeeExtendMap" extends="EmployeeMap">
        <result property="positionName" column="positionName"/>
        <result property="departmentName" column="departmentName"/>
        <result property="stateName" column="stateName"/>
        <result property="creatorName" column="creatorName"/>
    </resultMap>
    
    <sql id="simple_column">
        em.id,em.ecode,em.name,em.idCard
    </sql>

     <sql id="base_column">
        em.id,em.ecode,em.name,em.sex,em.birth,em.idCard,em.marriage,
        em.nation,em.phone,em.email,em.qq,em.address,em.qualification,
        em.school,em.avatar,em.positionId,em.departmentId,em.stateId,em.salary,em.salaryType,em.adminId,em.beginTime,em.endTime,em.creator,em.createTime,em.delflag
     </sql>
     
     <sql id="extend_column">
         <include refid="base_column" />,po.pname as positionName,de.dname as departmentName,d_state.name as stateName,ad.accountname as creatorName
     </sql>
     
     <!-- 关联部门，职位，状态表  -->
     <sql id="full_relation">
        LEFT JOIN
	    	positions po ON po.poid=em.positionId
		LEFT JOIN
		    department de ON de.did=em.departmentId
		LEFT JOIN
		    dictionary d_state ON d_state.id=em.stateId
		LEFT JOIN
		    admin ad ON ad.id = em.creator
     </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee
        (
            <trim suffixOverrides=",">
                <if test="ecode != null ">
                ecode,
                </if>
                <if test="name != null ">
                name,
                </if>
                <if test="sex != null ">
                sex,
                </if>
                <if test="birth != null ">
                birth,
                </if>
                <if test="idCard != null ">
                idCard,
                </if>
                <if test="marriage != null ">
                marriage,
                </if>
                <if test="nation != null ">
                nation,
                </if>
                <if test="phone != null ">
                phone,
                </if>
                <if test="email != null ">
                email,
                </if>
                <if test="qq != null ">
                qq,
                </if>
                <if test="address != null ">
                address,
                </if>
                <if test="qualification != null ">
                qualification,
                </if>
                <if test="school != null ">
                school,
                </if>
                <if test="avatar != null ">
                avatar,
                </if>
                <if test="positionId != null ">
                positionId,
                </if>
                <if test="positionName != null ">
                positionName,
                </if>
                <if test="departmentId != null ">
                departmentId,
                </if>
                <if test="departmentName != null ">
                departmentName,
                </if>
                <if test="stateId != null ">
                stateId,
                </if>
                <if test="stateName != null ">
                stateName,
                </if>
                <if test="salary != null ">
                salary,
                </if>
                <if test="salaryType != null ">
                salaryType,
                </if>
                <if test="adminId != null ">
                adminId
                </if>
                <if test="beginTime != null ">
                beginTime,
                </if>
                <if test="endTime != null ">
                endTime,
                </if>
                <if test="creator != null ">
                creator,
                </if>
                <if test="creatorName != null ">
                creatorName,
                </if>
                <if test="createTime != null ">
                createTime,
                </if>
                <if test="delflag != null ">
                delflag,
                </if>
            </trim>
        )
        VALUES (
            <trim suffixOverrides=",">
                <if test="ecode != null ">
                #{ecode},
                </if>
                <if test="name != null ">
                #{name},
                </if>
                <if test="sex != null ">
                #{sex},
                </if>
                <if test="birth != null ">
                #{birth},
                </if>
                <if test="idCard != null ">
                #{idCard},
                </if>
                <if test="marriage != null ">
                #{marriage},
                </if>
                <if test="nation != null ">
                #{nation},
                </if>
                <if test="phone != null ">
                #{phone},
                </if>
                <if test="email != null ">
                #{email},
                </if>
                <if test="qq != null ">
                #{qq},
                </if>
                <if test="address != null ">
                #{address},
                </if>
                <if test="qualification != null ">
                #{qualification},
                </if>
                <if test="school != null ">
                #{school},
                </if>
                <if test="avatar != null ">
                #{avatar},
                </if>
                <if test="positionId != null ">
                #{positionId},
                </if>
                <if test="positionName != null ">
                #{positionName},
                </if>
                <if test="departmentId != null ">
                #{departmentId},
                </if>
                <if test="departmentName != null ">
                #{departmentName},
                </if>
                <if test="stateId != null ">
                #{stateId},
                </if>
                <if test="stateName != null ">
                #{stateName},
                </if>
                <if test="salary != null ">
                #{salary},
                </if>
                <if test="salaryType != null ">
                #{salaryType},
                </if>
                <if test="adminId != null ">
                #{adminId}
                </if>
                <if test="beginTime != null ">
                #{beginTime},
                </if>
                <if test="endTime != null ">
                #{endTime},
                </if>
                <if test="creator != null ">
                #{creator},
                </if>
                <if test="creatorName != null ">
                #{creatorName},
                </if>
                <if test="createTime != null ">
                #{createTime},
                </if>
                <if test="delflag != null ">
                #{delflag,jdbcType=TINYINT},
                </if>
            </trim>
        )
    </insert>

    <update id="delete" >
        UPDATE employee set delflag = #{delflag}
         WHERE id = #{ id }
    </update>

    <update id="update" parameterType="employee">
        UPDATE employee SET 
            <trim suffixOverrides=",">
                <if test="ecode != null ">
                ecode = #{ecode},
                </if>
                <if test="name != null ">
                name = #{name},
                </if>
                <if test="sex != null ">
                sex = #{sex},
                </if>
                <if test="birth != null ">
                birth = #{birth},
                </if>
                <if test="idCard != null ">
                idCard = #{idCard},
                </if>
                <if test="marriage != null ">
                marriage = #{marriage},
                </if>
                <if test="nation != null ">
                nation = #{nation},
                </if>
                <if test="phone != null ">
                phone = #{phone},
                </if>
                <if test="email != null ">
                email = #{email},
                </if>
                <if test="qq != null ">
                qq = #{qq},
                </if>
                <if test="address != null ">
                address = #{address},
                </if>
                <if test="qualification != null ">
                qualification = #{qualification},
                </if>
                <if test="school != null ">
                school = #{school},
                </if>
                <if test="avatar != null ">
                avatar = #{avatar},
                </if>
                <if test="positionId != null ">
                positionId = #{positionId},
                </if>
                <if test="positionName != null ">
                positionName = #{positionName},
                </if>
                <if test="departmentId != null ">
                departmentId = #{departmentId},
                </if>
                <if test="departmentName != null ">
                departmentName = #{departmentName},
                </if>
                <if test="stateId != null ">
                stateId = #{stateId},
                </if>
                <if test="stateName != null ">
                stateName = #{stateName},
                </if>
                <if test="salary != null ">
                salary = #{salary},
                </if>
                <if test="salaryType != null ">
                salaryType = #{salaryType},
                </if>
                <if test="adminId != null ">
                adminId = #{adminId}
                </if>
                <if test="beginTime != null ">
                beginTime = #{beginTime},
                </if>
                <if test="endTime != null ">
                endTime = #{endTime},
                </if>
                <if test="creator != null ">
                creator = #{creator},
                </if>
                <if test="creatorName != null ">
                creatorName = #{creatorName},
                </if>
                <if test="createTime != null ">
                createTime = #{createTime},
                </if>
                <if test="delflag != null ">
                delflag = #{delflag,jdbcType=TINYINT},
                </if>
            </trim>
         WHERE id = #{id}
    </update>

    <update id="updateFull" parameterType="employee">
        UPDATE employee SET 
            ecode = #{ecode},
            name = #{name},
            sex = #{sex},
            birth = #{birth},
            idCard = #{idCard},
            marriage = #{marriage},
            nation = #{nation},
            phone = #{phone},
            email = #{email},
            qq = #{qq},
            address = #{address},
            qualification = #{qualification},
            school = #{school},
            avatar = #{avatar},
            positionId = #{positionId},
            positionName = #{positionName},
            departmentId = #{departmentId},
            departmentName = #{departmentName},
            stateId = #{stateId},
            stateName = #{stateName},
            salary = #{salary},
            salaryType = #{salaryType},
            adminId = #{adminId}
            beginTime = #{beginTime},
            endTime = #{endTime},
            creator = #{creator},
            creatorName = #{creatorName},
            createTime = #{createTime},
            delflag = #{delflag,jdbcType=TINYINT},
         WHERE id = #{id}
    </update>

    <select id="getById" resultType="employee" parameterType="employee">
        SELECT 
        <include refid="base_column"/>
        FROM employee em
        WHERE em.id = #{id} AND em.delflag = #{delflag}
    </select>
    
    <select id="getByStr" resultType="employee" >
        SELECT
        <include refid="simple_column" />
        FROM employee em
        WHERE 
            em.`adminId` = #{adminId, jdbcType=INTEGER} 
        AND em.`delflag` = #{delflag,jdbcType=TINYINT}
    </select>
    
    <select id="getFullEmployeeByAdmin" resultMap="EmployeeExtendMap">
    	SELECT
    	<include refid="extend_column"/>
    	FROM
    	    employee em
    	<include refid="full_relation" />
    	WHERE
    	    em.`adminId` = #{adminId, jdbcType=INTEGER} 
        AND em.`delflag` = #{delflag,jdbcType=TINYINT}
    </select>

    <select id="getList" resultType="employee" parameterType="employee">
        SELECT 
        <include refid="base_column"/>
        FROM employee em
    <where>
    <trim prefixOverrides="AND">
        <if test="ecode != null ">
        AND em.`ecode` = #{ecode}
        </if>
        <if test="name != null ">
        AND em.`name` = #{name}
        </if>
        <if test="sex != null ">
        AND em.`sex` = #{sex}
        </if>
        <if test="birth != null ">
        AND em.`birth` = #{birth}
        </if>
        <if test="idCard != null ">
        AND em.`idCard` = #{idCard}
        </if>
        <if test="marriage != null ">
        AND em.`marriage` = #{marriage}
        </if>
        <if test="nation != null ">
        AND em.`nation` = #{nation}
        </if>
        <if test="phone != null ">
        AND em.`phone` = #{phone}
        </if>
        <if test="email != null ">
        AND em.`email` = #{email}
        </if>
        <if test="qq != null ">
        AND em.`qq` = #{qq}
        </if>
        <if test="address != null ">
        AND em.`address` = #{address}
        </if>
        <if test="qualification != null ">
        AND em.`qualification` = #{qualification}
        </if>
        <if test="school != null ">
        AND em.`school` = #{school}
        </if>
        <if test="avatar != null ">
        AND em.`avatar` = #{avatar}
        </if>
        <if test="positionId != null ">
        AND em.`positionId` = #{positionId}
        </if>
        <if test="positionName != null ">
        AND em.`positionName` = #{positionName}
        </if>
        <if test="departmentId != null ">
        AND em.`departmentId` = #{departmentId}
        </if>
        <if test="departmentName != null ">
        AND em.`departmentName` = #{departmentName}
        </if>
        <if test="stateId != null ">
        AND em.`stateId` = #{stateId}
        </if>
        <if test="stateName != null ">
        AND em.`stateName` = #{stateName}
        </if>
        <if test="salary != null ">
        AND em.`salary` = #{salary}
        </if>
        <if test="salaryType != null ">
        AND em.`salaryType` = #{salaryType}
        </if>
        <if test="adminId != null ">
        AND em.`adminId` = #{adminId}
        </if>
        <if test="beginTime != null ">
        AND em.`beginTime` = #{beginTime}
        </if>
        <if test="endTime != null ">
        AND em.`endTime` = #{endTime}
        </if>
        <if test="creator != null ">
        AND em.`creator` = #{creator}
        </if>
        <if test="creatorName != null ">
        AND em.`creatorName` = #{creatorName}
        </if>
        <if test="createTime != null ">
        AND em.`createTime` = #{createTime}
        </if>
        <if test="delflag != null ">
        AND em.`delflag` = #{delflag,jdbcType=TINYINT}
        </if>
    </trim>
    </where>
   
    </select>
    
    <select id="list" resultType="employee" parameterType="employeeForm">
	SELECT
	   <include refid="base_column"/>
	FROM
	    employee em
	LEFT JOIN
	    positions po ON po.id=em.positionId
	LEFT JOIN
	    department de ON de.id=em.departmentId
	LEFT JOIN
	    dictionary d_state ON d_state.id=em.stateId
	LEFT JOIN
	    admin ad ON ad.id = em.creator
	WHERE
	    1=1
	AND
	<if test="ids != null">
	em.id IN
	<foreach collection="ids" item="id" open="(" close=")" separator=",">
	#{id,jdbcType=INTEGER}
	</foreach>
	</if>
	<if test="ecode !=null">
	<![CDATA[ 
	AND LOCATE(#{ecode,jdbcType=VARCHAR},em.ecode)>0
	]]>
	</if>
	<if test="name !=null">
	<![CDATA[
	AND LOCATE(#{name,jdbcType=VARCHAR},em.name)>0  
	]]> 
	</if>
	<if test="idCard !=null">
	<![CDATA[
	AND LOCATE(#{idCard,jdbcType=VARCHAR},em.idCard)>0  
	]]> 
	</if>
	<if test="phone !=null">
	<![CDATA[
	AND LOCATE(#{phone,jdbcType=VARCHAR},em.phone)>0  
	]]> 
	</if>
	<if test="email !=null">
	<![CDATA[
	AND LOCATE(#{email,jdbcType=VARCHAR},em.email)>0  
	]]> 
	</if>
	<if test="qq !=null">
	<![CDATA[
	AND LOCATE(#{qq,jdbcType=VARCHAR},em.qq)>0  
	]]> 
	</if>
	<if test="positionIds !=null">
	AND po.id IN 
	<foreach collection="positionIds" item="po" open="(" close=")" separator=",">
	#{po,jdbcType=INTEGER}
	</foreach>
	</if>
	<if test="departmentIds !=null">
	AND de.id IN
	<foreach collection="departmentIds" item="de" open="(" close=")" separator=",">
	#{de,jdbcType=INTEGER}
	</foreach>
	</if>
	<if test="sex !=null">
	AND em.sex=#{sex,jdbcType=VARCHAR}
	</if>
	<if test="marriage !=null">
	AND em.marriage=#{marriage,jdbcType=INTEGER}
	</if>
	<if test=" nation!=null">
	AND em.nation=#{nation,jdbcType=INTEGER}
	</if>
	<if test="minSalary !=null">
	<![CDATA[
	AND em.salary >= #{minSalary,jdbcType=DECIMAL}
	]]>
	</if>
	<if test="maxSalary !=null">
	<![CDATA[
	AND em.salary <=#{maxSalary,jdbcType=DECIMAL}
	]]>
	</if>
	<if test="salaryType !=null">
	AND em.salaryType=#{salaryType,jdbcType=INTEGER}
	</if>
	<if test="minBeginTime !=null">
	<![CDATA[
	AND em.beginTime >=#{minBeginTime,jdbcType=TIMESTAMP}
	]]>
	</if>
	<if test="maxBeginTime !=null">
	<![CDATA[
	AND em.beginTime <=#{maxBeginTime,jdbcType=TIMESTAMP}
	]]>
	</if>
	<if test="minEndTime !=null">
	<![CDATA[
	AND em.endTime <=#{minEndTime,jdbcType=TIMESTAMP}
	]]>
	</if>
	<if test="maxEndTime !=null">
	<![CDATA[
	AND em.endTime <=#{maxEndTime,jdbcType=TIMESTAMP}
	]]>
	</if>
	<if test="delflag !=null">
	AND em.delflag=#{delflag,jdbcType=INTEGER}
	</if>
    <if test="stateId !=null">
    AND d_state.id=#{stateId,jdbcType=INTEGER}
    </if> 
    <if test=" pageNum !=null and pageSize!=null">
    LIMIT #{pageNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
	</select>
	
	<select id="findEmployee" resultMap="EmployeeExtendMap" parameterType="employee">
	SELECT
	    <include refid="extend_column" />
	FROM
	    employee em
	LEFT JOIN
	    positions po ON po.id=em.positionId
	LEFT JOIN
	    department de ON de.id=em.departmentId
	LEFT JOIN
	    dictionary d_state ON d_state.id=em.stateId
	WHERE
	    em.delflag = #{delflag,jdbcType=TINYINT}
	AND
	    au.delflag=#{delflag,jdbcType=INTEGER}
	<if test="ecode !=null">
	AND em.ecode = #{ecode,jdbcType=VARCHAR}
	</if>
	<if test="name !=null">
	AND em.name=#{name,jdbcType=VARCHAR}
	</if>
	<if test="positionId !=null">
	AND po.id = #{positionId,jdbcType=INTEGER}
	</if>
	<if test="departmentId !=null">
	AND de.id= #{departmentId,jdbcType=INTEGER}
	</if>
	<if test="sex !=null">
	AND em.sex=#{sex,jdbcType=VARCHAR}
	</if>
	<if test="marriage !=null">
	AND em.marriage = #{marriage,jdbcType=TINYINT}
	</if>
	<if test=" nation!=null">
	AND em.nation=#{nation,jdbcType=INTEGER}
	</if>
	<if test="salaryType !=null">
	AND em.salaryType=#{salaryType,jdbcType=INTEGER}
	</if>
    <if test="stateId !=null">
    AND d_state.id=#{stateId,jdbcType=INTEGER}
    </if> 
	</select>

    <select id="testmethod" parameterType="employee" resultType="employee">
    SELECT * FROM employee
    WHERE
    ecode = #{ecode, jdbcType=VARCHAR}
    AND
    delflag = #{delflag, jdbcType=TINYINT}
    </select>
    
</mapper>